.small-playlists::-webkit-scrollbar {
  width: 15px;
}

.small-playlists::-webkit-scrollbar-thumb {
  background-color: #888;
}

.small-playlists::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* for main content scrollbar */
#main-content::-webkit-scrollbar {
  width: 15px;
}

#main-content::-webkit-scrollbar-thumb {
  background-color: #888;
}

#main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.btn-dark.rounded-circle {
  transition: background-color 0.3s ease;
}

.btn-dark.rounded-circle:hover {
  background-color: rgba(0, 0, 0, 0.34) !important;
  border: none;
}

.track-row.highlight {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffd700;
}

.control-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.bi-shuffle.active {
  color: white !important;
}

html.shrink {
  height: calc(100vh - 80px);
}

@media (max-width: 767.98px) {
  html,
  body {
    height: 100%;
    overflow-y: auto;
  }

  .d-flex.align-items-center.mb-3.p-4 {
    display: none !important;
  }

  .tracklist-header > div {
    display: none !important;
  }

  #main-content {
    flex: 1 1 100% !important;
    height: auto !important;
    overflow-y: auto !important;
    max-height: 100vh;
    margin-top: 45px;
    padding-bottom: 160px !important;
  }

  footer#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .about-artist {
    display: none !important;
  }

  #album-info {
    flex-direction: column;
    text-align: left;
    margin-right: 1em;
    margin-top: 1em;
  }

  #album-info div:not(:first-child) {
    width: 300px;
    padding-right: 20px;
  }

  div.text-white {
    margin-right: 30px;
  }

  #album-cover {
    margin-bottom: 2rem;
    width: 300px !important;
    max-width: 90% !important;
    padding-left: 0 !important;
    display: block !important;
  }

  .bi-play-circle-fill.icon-btn {
    font-size: 40px !important;
  }

  .small-playlists {
    max-height: 150px !important;
    overflow-x: hidden !important;
  }

  .btn.btn-dark.rounded-circle {
    width: 35px !important;
    height: 35px !important;
  }

  #attivi-amici {
    display: none !important;
  }
}

/* Barra di progresso */
.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 2;
  /* Occupano più spazio */
  min-width: 250px;
}

.progress-bar-wrapper {
  flex-grow: 1;
  /* Si espande per riempire lo spazio */
  height: 4px;
  background-color: #535353;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.progress-bar {
  height: 100%;
  /* la width parte da 0 e si man mano che aumenta si riempie la barra */
  width: 0%;
  background-color: white;
  border-radius: 2px;
}
