.small-playlists::-webkit-scrollbar {
  width: 15px;
}

.small-playlists::-webkit-scrollbar-thumb {
  background-color: #888;
}

.small-playlists::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* for main content scrollbar */
#main-content::-webkit-scrollbar {
  width: 15px;
}

#main-content::-webkit-scrollbar-thumb {
  background-color: #888;
}

#main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.btn-dark.rounded-circle {
  transition: background-color 0.3s ease;
}

.btn-dark.rounded-circle:hover {
  background-color: rgba(0, 0, 0, 0.34) !important;
  border: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffd700;
  transition: background-color 0.3s ease;
}
.track-row:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.control-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.bi-shuffle.active {
  color: white !important;
}

/* html.shrink {
  height: calc(100vh - 80px);
}

@media (max-width: 767.98px) {
  .d-flex.align-items-center.mb-3.p-4 {
    display: none !important;
  }

  .tracklist-header > div {
    display: none !important;
  }

  #main-content {
    flex: 1 1 100% !important;
    height: auto !important;
    overflow-y: auto !important;
    max-height: 100vh;
    padding-top: 45px;
    padding-bottom: 100px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #main-content::-webkit-scrollbar {
    display: none;
  }

  .about-artist {
    display: none !important;
  }

  #album-info {
    flex-direction: column;
    text-align: left;
    margin-top: 1em;
  }

  #album-info div:not(:first-child) {
    text-align: center;
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0 auto;
    align-items: center;
  }

  #album-cover {
    width: auto !important;
    max-width: 90% !important;
    padding-left: 0 !important;
    margin: 0 auto 2rem auto !important;
    display: block !important;
  }

  .bi-play-circle-fill.icon-btn {
    font-size: 40px !important;
  }

  .small-playlists {
    max-height: 150px !important;
    overflow-x: hidden !important;
  }

  .btn.btn-dark.rounded-circle {
    width: 35px !important;
    height: 35px !important;
  }

  #attivi-amici {
    display: none !important;
  }

  .icon-btn:not(#btn-player-list) {
    color: #6c757d !important;
    font-size: 16px !important; 
}

#footer .col-md-3:last-child {
    display: none !important;
  }
  #player-img-container img,
  #player-artist,
  #player-img-container .bi-heart {
    display: none !important;
  }

  #player-img-container {
    order: 1 !important;
    flex: 1 1 auto;
    justify-content: center !important;
    margin-top: 0.5rem;
  }
   .progress-bar-container {
    flex: unset !important;     
    min-width: unset !important;   
    width: 125% !important;         
  }

    .play-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
  }
} */

/* Barra di progresso */
.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 2;
  /* Occupano più spazio */
  min-width: 250px;
}

.progress-bar-wrapper {
  flex-grow: 1;
  /* Si espande per riempire lo spazio */
  height: 4px;
  background-color: #535353;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.progress-bar {
  height: 100%;
  /* la width parte da 0 e si man mano che aumenta si riempie la barra */
  width: 0%;
  background-color: white;
  border-radius: 2px;
}
